html {
  width:1000px;
  background-color:#F2F1E8;
}
#logo {
  display:flex;

}
body {
  font-family: 'Roboto';
  width:1500px;
  color:#131511;
  position:center;
}
#main_navigation {

  position:fixed;
  top:0px;
  text-align:center;
  background-color:white;
  padding:5px;
  word-spacing:40px;
  color:black;
  text-decoration-color:none;
  text-decoration:none;
  width:100%;
  }
  a {
    color:black;
    text-decoration:none;
    text-align-last;
  }
  a:hover {
    color:#CD5D67
  }
h1 {
  text-align:center;
  font-size:60px;
}
h2 {
  margin-top:0px;
  text-align:center;
  font-size:30px;
}
h3 {
  background:black;
  color:white;
  float:left;


}
img {
  display:flex;
  flex-wrap:wrap;
  flex-shrink:30px;
  justify-content:space-around;
  width:auto;
  height:350px;
}
#content {
  background-color:blue;
}
main {
display:flex;
flex-wrap:wrap;
justify-content:space-between;
width:100%;
}
footer {
  background-color:black;
  color:white;
  padding:30px;
  width:100%;
}
