html {
  width: 100%;
  background-color: #F2F1E8;
}

#logo {
  display: flex;
  float;
  z-index: 100;
  position: relative;
  top: 10px;
}
}
body {
  font-family: 'Roboto';
  width: 100%;
  color: #131511;
  position: center;
}
#main_navigation {
  z-index: 100;
  margin: auto;
  position: fixed;
  top: 0px;
  text-align: center;
  background-color: white;
  padding: 5px;
  padding-top: -10px;
  word-spacing: 40px;
  color: black;
  width: 100%;
}
a {
  color: black;
  text-align-last;
  top: -20px;
  position: relative;
}
a:link {
  color: red;
}
a:above {
  color: blue;
}
a:hover {
  color: #CD5D67;
}
h1 {
  text-align: center;
  font-size: 60px;
}
h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
}
h3 {
  background: #2E3528;
  color: #F2F1E8;
  float: left;
  z-index: 90;
  float;
  position: relative;
  top: -55px;
}
img {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 30px;
  justify-content: space-around;
  width: auto;
  height: 350px;
}
#content {
  background-color: blue;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
footer {
  background-color: black;
  color: #2b2F26;
  padding: 30px;
  width: 100%;
  color: white;
}
table {
  margin: left;
  border-collapse: collapse;
}
table td {
  border-color: black;
  padding: 33px;
  border-style: solid;
  border-collapse: collapse;
}
#tr2 {
  background: #968772;
}
#about_image {
  position: relative;
  image-resolution: from-image;
  height: 400px;
  width: 1500px;
  object-fit: cover;
}
#room {
  z-index: 90;
  float;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 112px;
}
#form {
  background: white;
  margin: center;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  float;
  position: relative;
  top: -700px;
  border-style: hidden;
  border: 5px solid white;
  text-decoration: none;
  width: 40%;
  height: 90%;
  position: relative;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
#background1 {
  width: 100%;
  height: auto;
}
#stay {
  font-size: 20px;
}
#abouttxt {
  text-align: left;
  position: relative;
  left: 500px;
}
blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 2px solid black;
  font-style: italic;
  position: relative;
  left: 350px;
}
#aboutwrap {
  image-resolution: 250px 300px;
  display: flex;
  flex-shrink: 5px;
  word-wrap: 100px;
  position: relative;
  left: 370px;
  line-height: 1.6;
}
#userinput {
  border-bottom: solid #968772 2px;
  padding: 3px 10px;
  padding: 3px 10px;
  margin-left: -400px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-length: 80px;
  padding-right: 300px;
  margin-left: 1px;
}
#button {
  border: none;
  margin-left: -30px;
  border: white;
  background-color: #968772;
  padding: 20px;
  text-decoration-color: white;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
#button:hover {
  color: #FFFFFF;
}
#aboutimage2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: -90px;
  margin-right: 300px;
}
#memaccess {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 258px;
}
#facilpar {
  font-size: 20px;
}
